@import "../../styles/colors.module.less";
@import "../../styles/font-size.module.less";
@import "../../styles/containers.module.less";

.box{
  .box();

  .container{
    .container();

    .backButton{
      width: fit-content;
    }

    .content {
      margin-top: 10px;

      .title {
        font-size: @regular;
        padding: 10px 0;
      }

      .description {
        padding-bottom: 10px;
      }

      .date {
        display: flex;
        justify-content: space-between;
      }
    }

    .actions {
      display: flex;
      justify-content: flex-start;

      div {
        padding-right: 20px;
      }
    }

    .addNew {
      margin: 10px 0;
    }

    .childrenRecipes {
        padding-top: 20px;

      &__list {
        padding-bottom: 10px;
      }
    }

    .previousVersion {
      padding-top: 10px;

      .changelogButton {
        cursor: pointer;
        text-align: end;
        font-size: @normal;
        font-weight: bolder;
        padding-bottom: 10px;
      }

      &__title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        cursor: pointer;

        &:hover {
          font-weight: bolder;
        }
      }
    }
  }
}
