@import "../../styles/colors.module.less";
@import "../../styles/font-size.module.less";

.label {
  padding: 10px 0;

  .text {
    margin: 0;
    padding-bottom: 10px;
    font-size: @normal;
  }
}

input[type=text], textarea {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  border: 1px solid @gray25;
  border-radius: 4px;
  outline: none;
  font-family: 'Aria', sans-serif;
}

input[type=text]:focus, textarea:focus{
  box-shadow: 5px 5px 5px @gray25;
}

textarea {
  min-height: 150px;
}
