@import "../../styles/colors.module.less";
@import "../../styles/font-size.module.less";

.recipe {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  box-shadow: 0 5px 6px -6px @brown;
  color: @accent;

  &__title {
    font-size: @normal;
    font-weight: bold;
  }

  &__date {
    align-self: flex-end;
  }

  &:hover {
    color: @accentHovered;
  }
}
