@import "../../styles/colors.module.less";
@import "../../styles/font-size.module.less";

.button {
  box-sizing: border-box;
  display: inline-block;
  align-self: flex-end;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 15px;
  font-family: "Baskerville Old Face", serif;
  font-size: @x-small;
  padding: 5px 10px;
  background-color: @darkGray;
  color: @white;
  cursor: pointer;
  transition: ease 0.3s;
  box-shadow: 0 0 0 @gray;

  &:hover{
    background-color: @dark;
    color: @white;
  }
}


:global {
  .largeButton {
    width: 100%;
    padding: 7px;
    border-radius: 0;
    font-size: @normal;
  }
}
