@import "../../styles/colors.module.less";
@import "../../styles/font-size.module.less";
@import "../../styles/containers.module.less";

.box{
  .box();

  .container{
    .container();

    .description {
      padding: 15px 10px;
      font-size: @normal;
    }

    .addNewRecipe {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
  }
}
