@import "../../styles/colors.module.less";
@import "../../styles/font-size.module.less";

.title {
  padding: 20px;
  font-size: @big;
  font-weight: bolder;
  letter-spacing: 1px;
  text-align: center;
  color: @brown;
  box-shadow: 0 10px 6px -6px @brown;
}
