@accent: rgb(32, 57, 9);
@accentHovered: rgb(75, 122, 10);

@white: rgb(255, 255, 255);

@gray: rgb(55, 55, 55);
@darkGray: rgb(43, 43, 58);
@dark: rgb(0, 0, 0);
@brown: rgb(47, 23, 0);

@gray75: rgba(@gray, 0.75);
@gray50: rgba(@gray, 0.5);
@gray25: rgba(@gray, 0.25);
