@import "../styles/colors.module.less";
@import "../styles/font-size.module.less";

.box {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px 0;
  background: @gray25 url("../assets/pictures/cooking.jpg") center;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: @white;
  opacity: 0.8;
  border-radius: 5px 5px 10px 10px;
}
